.cabecalho{
    height: 2.5vw;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 2em;
    background-color: var(--vermelho);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 5px;
}

.cabecalho__lista{
    display: flex;
    flex-direction: wrap;
}

.cabecalho__item{
    padding: 0.5em 2em;
    border: 0px solid var(--preto);
    margin: 0 0.3em;
    border-left: 1.5px solid black;
}

.logo__imperio{
    width: 2.5vw;
    height: 2.5vw;
}

.cabecalho__icon{
    display: none;
}

@media screen and (max-width: 600px){
    .cabecalho{
        width: auto;
        height: 5%;
    }

    .cabecalho__item{
        display: none;
    }

    .logo__imperio{
        width:8vw;
        height: 8vw;
    }

    .cabecalho__icon{
        margin: 0 0.5em;
        width: 10%;
        height: auto;
        display: block;
        color: var(--cinza);
        border-right: 1px solid black;
        padding-right: 1em;
    }
}